$breakpoint-medium: 48rem;

$border-radius-medium: 0.25rem;
$border-radius-large: 0.5rem;

$font-xxsmall: 0.5rem;
$font-xsmall: 0.75rem;
$font-small: 0.85rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xlarge: 1.75rem;
$font-xxlarge: 2rem;

$font-weight-small: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

$line-height-medium: 1;
$line-height-large: 1.25;
$line-height-xlarge: 1.5;

$page-padding: 1.5rem 10rem 1rem 10rem;
$page-padding-medium-devices: 2rem 2rem 1rem 2rem;

$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;
