$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

$spacing-xxlarge: 2rem;

$font-xsmall: 0.5rem;
$font-small: 0.75rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xlarge: 1.75rem;
$font-xxlarge: 2rem;
